ul{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
li{
    clear:both;
    margin-top: 20px;

}
img{
    float:left;
    width: 100px;
    padding: 10px;
}
strong{
    font-size: 20px;;
}
p{
    margin: 5px 0;
}